<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.smhrd.mapper.PhotoMapper">

<select id="getPhoto" resultType="kr.smhrd.entity.Photo">
	select * from C_PHOTO
</select>

<select id="readPhoto" resultType="kr.smhrd.entity.Photo">
	select * from C_PHOTO
</select>


</mapper>